<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/36ba7cd857.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/estilos.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/Images/logo-mercado-liebre.svg" class="logo">
        <div class="input-group mb-3 buscar">
                <input type="text" class="form-control" placeholder="Buscar productos, marcas y más" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>
        <div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin trajeta de crédito
            </h2>
        </div>
        <a href="#" class="hamurguer-button"><i class="fa-solid fa-bars"></i></a>
        <nav class="main-header-botton-bar">
                <ul>
                    <li><a href="#">Tolos los Productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Verder</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/Views/register.html">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/Views/login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
    </header>
    <img class="banner" src="/Public/Images/banner.jpg" alt="">
       <main class="cuerpo">
        <h3 class="tittle">Sección: Basado en tu última visita</h3>
        <section class="ultimaVisita"> 
            <div>
                <article><img src="/Images/img-cafetera-moulinex.jpg" class="producto"></article>
                <h5 class="price">$6.770</h5>
                <h5 class="descu">40% OFF</h5>
                <h5 class="desc">Cafetera Moulinex</h5>
            </div>
            <div>
                <article><img src="/Images/img-macbook-pro-2019.jpg"class="producto"></article>
                <h5 class="price">$230.000</h5>
                <h5 class="descu">20% OFF</h5>
                <h5 class="desc">MacBook Pro 2019</h5>
            </div>
            <div>
                <article><img src="/Images/img-samsung-galaxy-s10.jpg"class="producto"></article>
                <h5 class="price">$70.500</h5>
                <h5 class="descu">10% OFF</h5>
                <h5 class="desc">Samsung Galaxy S10</h5>
            </div>
            <div>
                <article><img src="/Images/img-tv-samsung-smart.jpg"class="producto"></article>
                <h5 class="price">$23.200</h5>
                <h5 class="descu">5% OFF</h5>
                <h5 class="desc">SmartTv Samsung 43"</h5>
            </div>
        </section>
        <h3 class="tittle">Sección de Ofertas</h3>
        <section class="ofertas">
            <div class="article">
                <article><img src="/Images/img-cafetera-moulinex.jpg" class="producto"></article>
                <h5 class="price">$6.770</h5>
                <h5 class="descu">40% OFF</h5>
                <h5 class="desc">Cafetera Moulinex</h5>
            </div>
            <div class="article">
                <article><img src="/Images/img-macbook-pro-2019.jpg"class="producto"></article>
                <h5 class="price">$230.000</h5>
                <h5 class="descu">20% OFF</h5>
                <h5 class="desc">MacBook Pro 2019</h5>
            </div>
            <div class="article">
                <article><img src="/Images/img-samsung-galaxy-s10.jpg"class="producto"></article>
                <h5 class="price">$70.500</h5>
                <h5 class="descu">10% OFF</h5>
                <h5 class="desc">Samsung Galaxy S10</h5>
            </div>
            <div class="article">
                <article><img src="/Images/img-tv-samsung-smart.jpg"class="producto"></article>
                <h5 class="price">$23.200</h5>
                <h5 class="descu">5% OFF</h5>
                <h5 class="desc">SmartTv Samsung 43"</h5>
            </div>
        </section>
    </main>
    <footer class="foot">
        <h3><i class="fa-solid fa-credit-card icon-foot"></i></h3>
        <h4 class="tittle-foot">Pagá con tarjeta o en efectivo</h4>
        <p class="text-foot">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <h3><i class="fa-solid fa-gift icon-foot"></i></h3>
        <h4 class="tittle-foot">Envío gratis desde los $2.500</h4>
        <p class="text-foot">Solo con estar resgitrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio  de Mercado Puntos.</p>
        <h3><i class="fa-solid fa-user-shield icon-foot"></i></h3>
        <h4 class="tittle-foot">Seguridad de principio a fin</h4>
        <p class="text-foot">¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>

        <p class="text-foot">Copyright C 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>